<!DOCTYPE html>
<html>
<head>
    <title>CoolPon</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/app/style.css" rel="stylesheet" />
</head>
<body>
    <header class="navbar">
        <div class="navbar-inner">
            <a href="#" class="brand">CoolPon</a>
        </div>
    </header>

    <div class="container">
        <div class="page"></div>
    </div>

    <script type="text/template" id="home">
        <form id="form-search" class="form-search">
            <input type="text" id="post_code" name="post_code" class="input-xxlarge" placeholder="Enter Post Code" />
            <input type="submit" value="Search" class="btn btn-inverse" />
        </form>
        <h3 class="error"></h3>
        <ul id="searched-machines" class="pull-left"></ul>
        <div id="map-canvas"></div>
    </script>

    <script type="text/template" id="coupons">
        <ul id="searched-machines-menu">
            <% _.each(searched_machines, function(searched_machine) { %>
            <li>
                <a href="#/machines/<%= searched_machine.id %>?post_code=<%= searched_machine.get('post_code') %>">
                    <%= searched_machine.get('name') %>
                </a>
            </li>
            <% }); %>
        </ul>
        <div class="clearfix"></div>
        <hr />
        <h3><%= current_machine.name %></h3>
        <ul id="coupons-list">
            <% _.each(coupons, function(coupon) { %>
            <li><img src="<%= coupon.get('image') %>" /></li>
            <% }); %>
        </ul>
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCDYr8ddbtZccZkXWP-GTNrTy8uWCprUZk&sensor=true"></script>
    <script src="public/lib/utility.js"></script>
    <script src="public/app/app.js"></script>
</body>
</html>
