<!DOCTYPE html>
<html>
<head>
    <title>CoolPon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="public/app/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div id="logo">
            <h1><a href="#">Coolpon</a></h1>
        </div>
        <ul class="span12" id="navigator">
            <li><a href="#">Search</a></li>
            <li><a href="#">Subscribe</a></li>
        </ul>
        <div class="page"></div>
    </div>

    <script type="text/template" id="home">
        <form id="form-search" class="form-search">
            <input type="text" id="post_code" name="post_code" class="input-xxlarge" placeholder="Enter Post Code" />
            <button class="btn" type="submit">
                <i class="icon-search"></i>
                <span>Search</span>
            </button>
        </form>
        <h3 class="error center"></h3>
        <ul id="searched-machines" class="pull-left"></ul>
        <div id="map-canvas"></div>
    </script>

    <script type="text/template" id="coupons">
        <ul id="searched-machines-menu">
            <% _.each(searched_machines, function(searched_machine) { %>
            <li>
                <a href="#/machines/<%= searched_machine.id %>?post_code=<%= searched_machine.get('post_code') %>">
                    <%= searched_machine.get('name') %>
                </a>
            </li>
            <% }); %>
        </ul>
        <div class="clearfix"></div>
        <hr />
        <h3><%= current_machine.name %> - <span class="alert-info"><%=current_machine.address%>, Sydney, NSW <%=post_code%></span></h3>
        <ul id="coupons-list" class="thumbnails">
            <% _.each(coupons, function(coupon) { %>
            <li class="span3">
                <a class="thumbnail" href="#/machines/<%= current_machine.id %>/coupons/<%=coupon.id%>">
                    <img data-src="holder.js/260x180" src="<%= coupon.get('image') %>" />
                </a>
                <h5><%= coupon.get('name') %> - <span class="alert-error">Expired: <%=coupon.get('expired_date')%></span></h5>
            </li>
            <% }); %>
        </ul>
    </script>

    <!-- COUPON DETAIL -->
    <script type="text/template" id="coupon">
    <a href="javascript:history.back()">Back</a>
    <h3><%=coupon.name%> - <span class="alert-error">Expired Date: <%=coupon.expired_date%></span></h3>
    <hr/>
    <p><img width="440px" height="266px" src="<%=coupon.image%>"/></p>
    <hr/>
    <div class="coupon-content"><%=coupon.description%></div>
    <hr/>
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCDYr8ddbtZccZkXWP-GTNrTy8uWCprUZk&sensor=true"></script>
    <script src="public/lib/utility.js"></script>
    <script src="public/app/app.js"></script>
</body>
</html>
