ul {
    list-style-type: none;
}
.table td
{
  vertical-align: middle;
}
.table {
    table-layout:fixed;
}
label.file-upload input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
}

.machine-list li {
    float: left;
}
.machine-list li a {
    margin-right: 20px;
}

#navigator {
    margin: 0 0 30px 0;
    /*background-color: #0866C6;*/
    background-color: #FDA600;
}
#navigator li {
    text-align: center;
}
#navigator li a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    width: 100px;
    float: left;
    padding: 15px 10px;
    background: rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.15);
}
#navigator li a:hover {
    cursor: pointer;
    background-color: #DC9930;
}

.table .post-code {
    text-align: center;
    width: 75px;
}
.table .operation {
    text-align: center;
}

.table .thumb {
    text-align: center;
    width: 200px;
}
.table .name {
    vertical-align: top;
}
.table .expired-date {
    text-align: center;
    width: 95px;
}
#editor {
	max-height: 250px;
	height: 250px;
	background-color: white;
	border-collapse: separate; 
	border: 1px solid rgb(204, 204, 204); 
	padding: 4px; 
	box-sizing: content-box; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
	box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
	border-top-right-radius: 3px; border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px; border-top-left-radius: 3px;
	overflow: scroll;
	outline: none;
}

p#machine-suburb input,
p#machine-address input {
    text-transform: uppercase;
}

#category-list {
    margin: 0;
}
#category-list li{
    clear: both;
}
#category-list li strong{
    float: left;
    width: 200px;
    margin: 10px 10px 10px 0;
}

.btn-custom-width {
    width: 100px !important;
}
