<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Coolpon</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>CoolPon</h1>
        <form class="form-search">
            <input class="input-xxlarge" type="text" placeholder="Enter Postcode">
            <input type="button" class="btn btn-inverse" value="Search" name="" />
        </form>
        <div class="page"></div>
    </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<script src="templates/app.js"></script>
</body>
</html>

